* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
}

a {
    color: #333;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.navbar-fixed-top {
    z-index: 1;
}

.homeData {
    margin-top: 5em;
}

.homeContent {
    margin-top: 4em;
}

/* App StartUp */

#startup_splash {
    min-height: 100%;
    min-width: 100%;

    width: 100%;
    height: 100%;

    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#loading {
     width: 100%;
     position: fixed;
     top: 40%;
 }

.hidden {
    display: none;
}

/* Login */
.indexPageHeader {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

#appLogo {
    margin-left: 10px;
    display: inline-block;
    width: 5em;
    float: left;
}

#indexHeaderText {
    margin-left: -1.5em;
    display: inline-block;
}

/* Headers for all pages except Login */

.page-header {
    margin: 0;
    padding: 0;
}

#bckWithSearch {
    margin: 8px 0 0em 0.6667em;
    display: inline-block;
    float: left;
    background-color: white;
    padding-bottom: 5px;
}

#bckWithoutSearch {
    margin: 8px 0 8px 0.6667em;
    display: inline-block;
    float: left;
    background-color: white;
    padding-bottom: 5px;
}

.noBckBtnHeaderText {
    margin: 0.4em auto 0em 1.5em;
    display: inline-block;
}

.headerText {
    margin: 0.4em auto 0em 0em;
    display: inline-block;
}

.noSearchHeaderText {
    margin: 0.4em auto 0em -1.4em;
    display: inline-block;
}

.iconHomeText {
    font-size: large;
}

.navbar-toggle {
    display: inherit;
}

#search_icon {
    background-color: transparent;
}

/* Members Page */
.memberImgAndData {
    border-style: outset;
    border-radius: 1.5em;
    border-top-color: #e7e7e7;
    border-left-color: #e7e7e7;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-left: -0.8em;
    margin-right: -0.8em;
}

.memberImgData {
    float: left;
}

.noData {
    padding-top: 1.25em;
}
.coupleDivider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.singleMemberImgAndData {
    border-style: outset;
    border-radius: 1.5em;
    border-top-color: #e7e7e7;
    border-left-color: #e7e7e7;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-left: -0.8em;
    margin-right: -0.8em;
}

.memberLink {
    font-size: 1.3em;
    color: #00b4ff;
}

/* Directors */

.list-group-item {
    padding: 1.3em 0 3.5em 0;
    font-size: large;
}

.linkColor {
    color: #00b4ff;
}

/* Specific to Different Devices */
@media (min-width: 240px) and (max-width: 319px) and (orientation: portrait) {
    .memberImgAndData {
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

    .memberImgData {
        padding-right: 0;
        padding-top: 4em;
    }

    .coupleData {
        padding-top: 0em;
    }

    .singleMemberImgData {
        padding-right: 0;
        padding-top: 0.25em
    }
}

@media (min-width: 320px) and (max-width: 350px) and (orientation: portrait) {
    .memberImgAndData {
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

    .memberImgData {
        padding-right: 0;
        padding-top: 1.5em;
    }

    .coupleData {
        padding-top: 2em;
    }

    .singleMemberImgData {
        padding-right: 0;
        padding-top: 0.25em
    }

    .singleData {
        padding-top: 2.2em;
    }
}

@media (min-width: 350px) and (max-width: 479px) and (orientation: portrait) {
    .memberImgAndData {
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

    .memberImgData {
        padding-right: 0;
        padding-top: 1.5em;
    }

    .coupleData {
        padding-top: 2em;
    }

    .singleMemberImgData {
        padding-right: 0;
        padding-top: 0.25em
    }

    .singleData {
        padding-top: 3.3em;
    }
}

@media (min-width: 480px) {
    .coupleData {
        padding-top: 2.85em;
    }
}

@media (min-width: 480px) and (orientation: portrait) {
    .singleData {
        padding-top: 4em;
    }
}

/* Parents Page */
.detailParentName {
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bolder;
}

.spouseInfoTitleLabel {
    font-size: 1.3em;
    font-weight: bold;
    color: forestgreen;
}

.spouseInfoTitleDetail {
    font-size: 1.3em;
    color: forestgreen;
}

.childrenLabel {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.infoTitleLabel {
    font-size: 1.3em;
    font-weight: bold;
}

.infoTitleDetail {
    font-size: 1.3em;
}

.altDetailParentName {
    font-size: 1.5em;
    font-weight: bolder;
}

.detailParentDesignation {
    font-size: 1.2em;
    font-weight: bolder;
}

.detailKidName {
    padding-top: 1.2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.detailOther {
    font-size: 1em;
}

.thumbnail {
    padding: 10px 4px 10px 10px;
}

.detailContent {
    margin-top: 2em;
}

.otherDetail {
    border-bottom-style: ridge;
}

.listItems {
    border-top-style: ridge;
}

span.Icon {
    top: 0.6em;
    font-size: 2em;
    float: right;
}

.modal-body {
    padding-bottom: 0;
}

#kidsBodyModal {
    padding: 0;
}

#kidsFooterModal {
    margin-top: 0;
}

.kidsItems {
    border-top-style: ridge;
    text-align: left;
}

.rsvpBlock {
    padding-bottom: 1.5em;
}

.Asary {
    border-style: outset;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.eventBdayFont {
    font-size: x-large;
}

.panel-group {
    font-size: large;
}

/* Search Page */
.searchBlock {
    border-style: outset;
    border-radius: 1.5em;
    border-top-color: #e7e7e7;
    border-left-color: #e7e7e7;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
}

.searchHeaderFont {
    font-size: x-large;
}

.searchResultsCount {
    margin-top: 0.3em;
}